



body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

/*///////////////NAVBAR/////////////////////*/


.navbar{
    background-color: rgba(0, 0, 0, 0.92)!important;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.navbar .navbar-brand{
    color: aliceblue;
    font-weight: bolder;
}
.navbar .navbar-brand:hover{
    color: white;
    font-weight: bolder;
    
}
.navbar .navbar-nav{
    margin-left: auto;
}

.navbar .navbar-nav a{
    color: white !important;
    font-size: 0.9em;
    text-align: center;
    
}

.navbar .navbar-nav a:hover{
    color: white !important;
    font-size: 0.9em;
    text-transform: capitalize;
    text-decoration: line-through;
}

.navbar .navbar-toggler{
    border:none;
    background-color: aliceblue;
}
.navbar .navbar-toggler:hover{
    background: rgba(234, 227, 227, 0.56);
}

.navbar .navbar-toggler span{
   color: aqua;
}

/*///////////////END OF NAVBAR/////////////////////*/



/*///////////////ALL PAGE HEADERS/////////////////////*/
.page-header{
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-header .releases h1{
    font-weight:bolder;
    color: white;
}


/*///////////////END OF ALL PAGE HEADERS/////////////////////*/






/*///////////////HEADER BANNER/////////////////////*/
#banner{
    height: 100vh;
    width: 100%;
    background-image:url(Images/Airboy-Vibes-Launch-8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.carousel-inner{
    height: 100vh !important;
}

.carousel-inner .carousel-item{
    height: 80vh !important;
    margin: 0px !important;
    top: 0;
    left: 0;
    min-height: 300px;
    object-fit:cover;
}
.carousel-inner > .item {
   /*height: 400px;*/
    object-fit:cover;
    height: 100px;
    
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex!important;
    object-position:center;
    object-fit: cover!important;
}
/*///////////////SECTION/////////////////////*/


.details-wrapper{
    transition: 1s;
    height: 50vh;
    width: 100%;
    display: flex;
        justify-content: center;
    align-items: center;
    cursor: pointer
}

.details-wrapper:hover{
    background: rgba(0, 0, 0, 0.49);
}




/*///////////////END OF SECTION/////////////////////*/




/*///////////////////CONTACT PAGE/////////////////////*/


.section-center{
    padding-top: 0px;
}
#contact-us{
    background-image: url()
    
}
.contact {
  padding-top: 100px;
    min-height: 100vh;
    background-color: #272727;
    background-size: cover;
    background-position: center;
    

}
.contact-item {
  margin-bottom: 3rem;
}
.contact-title{
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 10px;
}

.contact-info{
      padding-left: 120px;
        padding-right: 120px;
    text-align: center
}
.contact-text {
  text-transform: capitalize;
    font-size: 1em;
    color: aliceblue;
    padding: 20px;
        background-color: rgba(0, 0, 0, 0.64);
    border-radius: 20px
}
.contact-icon{
    color: white;
    font-size: 1.2em;
    padding: 20px;
    
}
.form-control {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    margin: 2rem 0;
    padding: 1.3rem 0;
    font-size: 0.85rem;
    font-weight: bold;
    background-color: transparent;
    border-radius: 0px;
    text-align: center;
}
.form-group{
        padding: 20px;
        padding-left: 120px;
        padding-right: 120px;
    border-radius: 40px;
    }
.form-control::placeholder {
  color: #fffcfc;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
@media screen and (min-width: 992px) {
  .contact-info,
  .contact-form {
    float: left;
    width: 50%;
 
  }
}


/*//////////////END OF CONTACT PAGE///////////////////////*/

/*///////////////ARTIST PAGE///////////////////////*/

/*.parent{
    background-color: #2e2f2f;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    
}*/

.artist-pic{
    width: 100%;
    min-height: 70vh;
    background-image: url(Images/AirBoy%20Rado.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

 .about-artist{
    background-color: #1a1a19;
    /*width: 100%;*/
    min-height: 20vh;
    text-align: center;
     padding: 0 0 20px;
    
}

.about-artist h1{
    color: white;
}

.about-artist p{
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
}
.about-artist .social-handles ul {

    padding:0px;
 
    
}

.about-artist .social-handles ul li{
    text-align: center;
    list-style: none;
    padding:0px;
    display: inline-block;
    
}

.about-artist .social-handles ul li i{
    padding: 0px;
    color: white;
    margin: 0 2px;
    font-size: 1.5em;
    
}

.about-artist .social-handles ul li i:hover{
    padding: 2px 0;
    color: #797474;
    margin: 0 2px;
    font-size: 1.5em;
    border-bottom: 2px solid white;
}



/*///////////////END OF ARTIST PAGE///////////////////////*/


/*///////////////FOOTER///////////////////////*/

.social-icon{
    color: #797474;
    float: right;
    padding-right: 20px;
    padding-top: 25px;
}
.footer-holder{
    background: rgba(0, 0, 0);
    height: 10vh;
    
}   

.footer-text{
    float: left;
    color:#ffffff;
    padding-top: 25px;
    margin-left: 20px;
    font-size: 0.9em;
}
    
@media screen and (max-width: 429px) {

    .social-icon{
    color: #797474;
  /*  padding-right: 80px;*/
        
}
    .icons{
    padding: 0 120px;
        
    }
.footer-holder{
    background: rgba(0, 0, 0, 0.63);
    height: 15vh;
    text-align: center;
    display: block;
    /*justify-content: center;
    align-items: center;
    margin-top: 0px*/
}   

.footer-text{
    
    color:#ffffff;
    font-size: 0.7em;
    padding: 0px;
    margin-left: 72.5px;
    padding-top: 5px;
    margin-bottom: 0px
}
    
    .contact-info{
      padding-left: 50px;
        padding-right: 50px;
    
}
    .form-group{
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
        
    }
   
    }
}   
    
    
    /*///////////////END OF FOOTER///////////////////////*/







/*///////////////MUSIC PAGE///////////////////////*/

.song-list{
    /*padding: 500px;*/
    padding-top: 250px;
}
#music{
    background-image: url(Images/shallow-focus-photography-of-dj-controller-323687.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.song-list h1{
    color: white;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}

/*.list-item{
    padding: 20px;
    margin: 20px 0;
    display: flex;
}*/


.list-item-img{
    border-radius: 20px;
}
#cover-art{
    margin: 0 20px;
    margin-bottom: 20px;
}
.song-list-center{
    display:flex;
    flex-wrap: wrap;
}

.list-item-text h3{
    text-transform: capitalize;
    color: white;
    font-size: 1em;
    
}


.list-item-text h4 a {
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    
    
}

.list-item-text {
    text-align: center
}

.list-item-text h4 a:hover{
    text-transform: capitalize;
    font-weight: bold;
    color: yellow;
}

.song-list{
    padding: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #272727;
    background-size: cover;
    background-repeat: no-repeat;

    
}

@media screen & (min-width:576px){
    .song-list-center{
      display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .song-list{
        margin: 0 auto;
    }
}

/*///////////////END OF MUSIC PAGE///////////////////////*/




/*///////////////ABOUT PAGE///////////////////////*/
.about-us{
  background-color: #272727;
  min-height: 60vh;
    
}


.label-name{
    
}
.about-text{
    padding: 20px;
    padding-top: 0px;
    color: white;
    margin: 0 20px;
    
}
.label-name{
    color: white;
    padding: 20px ;
    margin: 0 20px;
}

.label-name h1{
    font-weight: bolder;
}

.label-name p{
    color: white;
}

.follow-us{
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.22); 
    padding: 10px;
   margin: 0 50px ;
    border-radius: 20px ;
}

.follow-us ul{
    padding: 0px;
}
.follow-us ul li{
    display: inline-block;
    font-size: 1.5em;

}

.follow-us ul li i{
    color: white;
    text-align: center;
    padding: 2px;
}
/*///////////////END ABOUT PAGE///////////////////////*/